.date{
   position: relative;
   left: 22px;
   bottom: 42px;
   font-weight: bold;
}
.month{
    margin-bottom: 0;
}
.day{
    position: relative; 
    left: 2px;
}
.ui.card{
    flex-direction: row
}
