.LandingPage {
  position: absolute;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-size: cover;
}
.Container {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-size: cover;
}
.banner {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 260px;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: transparent;
  background-image: url(Images/sunFusion.jpg);
  background-size: cover;
}
.icon-left {
  position: absolute;
  top: 30px;
  left: 200px;
  color: powderblue;
}
.icon-right {
  position: absolute;
  top: 30px;
  right: 200px;
  color: powderblue;
}
.text {
  display: flex;
  color: powderblue;
  font-size: 400%;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.platform-statement-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: palegreen;
  font-size: 150%;
  font-weight: bold;
  width: 100vw;
}
.mission-statement-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: palegreen;
  font-size: 200%;
  font-weight: bold;
  width: 100vw;
}
.containerFooter {
  display: flex;
  position: absolute;
  bottom: 20px;
  min-height: 270px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-size: cover;
  padding-bottom: 150px;
}
.footer-description {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 10px;
  color: palegreen;
  font-size: 150%;
  font-weight: bold;
  width: 100vw;
}
.event-list-display {
  display: flex;
  position: absolute;
  flex-direction: column;
  color: palegreen;
  font-size: 150%;
  font-weight: bold;
  width: 100vw;
}
p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}
