.date{
    position: relative;
    bottom: 42px;
    font-weight: bold;
 }
.month{
    margin-bottom: 0;
}

div.ui.card{
    flex-direction: column;
    min-width: 200px;
    max-width: 10%;
    height: 275px;
    background-color: black;
    color: palegreen;
    margin: 0;
}
div.ui.card>.content{
    display: flex;
    padding: 0;
    align-items: center;
}
div.ui.card>.content>.header{
    font-size: 1em;
    color:palegreen;
}
div.ui.link.card:hover{
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color:black
}
.fuzeDate{
    height:4.1em;
}
.fuzeTitle{
    position: relative;
    top: 5px;
}
.modalContent{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1em;
}
.linkContent{
    flex-direction: column;
}
.fuzeContainer{
    width: 100%;
    align-self: flex-start;
}
.fuzeWeek{
    color:palegreen;
}
.fuzeModal{
    overflow: auto;  
}
.modalColor{
    background-color: grey;
}
.header>p{
    margin: 0
}
div.ui.modal>.content{
    display: flex;
    justify-content: space-between;
    background-color: grey;
    color: black
}
div.ui.modal>.header{
    background-color: grey;
    text-align: center;
}
.modalLink{
    color:blue
}
.location{
    align-self: flex-end;
}
.modalTags{
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}
.modalTagItem{
    padding-right: 1em;
}
.fuzeHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
div.ui.pagination.menu{
    margin-bottom: 1em;
    margin-left: 1em;
}
.fuzeItem{
    display: flex;
    justify-content: center;
    text-align: center;
}
h2.fuzeTitle.header{
    width: 100%
}
div.centered.ui.image.content.fuzeIcon{
    display: flex;
    justify-content: center;
    background-color: grey;
    color: black
}
i{
    margin-top: 10px;
}
div.fuzeDate.image{
    margin-bottom: 10px;
}