body{
  background-color: black;
}

.adminPage {
      min-height: 100vh;
      width: 100vw;
      align-items: center;
      justify-content: center;
      background-color: black;
      background-size: cover;
    }
    .adminBanner {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height:25vh;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: black;
      background-image: url('../Images/iter-sun2.jpg');
      /* background-size: cover; */
    }
    .admin-portal-display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #F74242;
      background-color: black;
      font-weight: bold;
      width: 100vw;
    }
    .admin-Text{
      font-size: 8em;
    }
    .admin-text-display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 4em;
      font-weight: bold;
      width: 100vw;
    }