body {
  background-color:black;
}
.adminPage {
    min-height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: cover;
  }
  .logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background-size: cover;
  }
  .banner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height:25vh;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: black;
    background-image: url('../Images/iter-sun2.jpg');
    /* background-size: cover; */
  }
  .icon-left {
    display: flex;
    width: 33vw;
    color: powderblue;
  }
  .icon-right {
    display: flex;
    width: 33vw;
    color: powderblue;
  }
  .logoText {
    display: flex;
    width: 33%;
    color: powderblue;
    font-size: 400%;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  .admin-portal-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F74242;
    background-color: black;
    /* font-size: 150%; */
    font-weight: bold;
    width: 100vw;

    height: 75vh;
  }
  .admin-Text{
    font-size: 8em;
  }
  .admin-text-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #000000;
    font-size: 4em;
    font-weight: bold;
    width: 100vw;
  }
  .containerAnnotation {
    display: flex;
    flex-direction: column;
    bottom: 20px;
    min-height: 320px;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-size: cover;
  }
  .annotation-description {
    display: flex;
    flex-direction: column;
    bottom: 10px;
    color: palegreen;
    font-size: 150%;
    font-weight: bold;
    width: 100vw;
    padding-top: 30px;
  }
  .event-list-display {
    display: flex;
    flex-direction: column;
    color: palegreen;
    font-size: 150%;
    font-weight: bold;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }
  