body{
  background-color: black;
}

.adminPage {
      min-height: 100vh;
      width: 100vw;
      align-items: center;
      justify-content: center;
      background-color: black;
      background-size: cover;
    }
    .adminBanner {
      display: flex;
      flex-direction: column;
      width: 100vw;
      height:25vh;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: black;
      background-image: url('../Images/iter-sun2.jpg');
      /* background-size: cover; */
    }
    .admin-portal-display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #F74242;
      font-size: 1.5rem;
      background-color: black;
      font-weight: bold;
      width: 100vw;
      height: 20vh;
    }
    .admin-Text{
      font-size: 8em;
    }
    #Admin-Header{
      display:flex;
      align-items: center;
      font-size: 3rem;
      color: #F74242;
      margin-top: 10px;
    }
    .admin-text-display {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-size: 4em;
      font-weight: bold;
      width: 100vw;
    }
    #AdminActionsSegment{
      display: flex;
      align-items: center;
      background-color: black;
      margin-left: 35%;
    }
    #AdminActionOption{
      display: flex;
      justify-content: center;
      background: #333; 
      width: 30%;

      box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
      color:#F74242;
      margin: 1rem 0;
      padding: 1em 1em;
      border-radius: .28571429rem;
    border: 1px solid rgba(152,251,152.15);
    }
    .AdminNavLinks {
      position: absolute;
      right: 0px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      align-items: center;
      width: 30%;
      top: 12vh;
      background-color: #f74242;
      font-size: 32px;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      z-index: 1;
      opacity: 0;
    }
    a{
      color:#f74242
    } 