.overrideCss {
  color: red;
  border-color: red;
  border-width: 8px;
}
dropdown.ui.dropdown.default.text {
  color: red;
}

div.ui.dropdown:not(.button) > .default.text {
  color: red;
  font-weight: 700;
  background-color: black;
}
div.ui.dropdown .menu > .item {
  color: red;
  background-color: black;
}

div.ui.selection.active.dropdown .menu {
  border-width: 4px;
  border-color: whitesmoke;
}
i.ui.selection.dropdown > .dropdown.icon {
  background-color: red;
}
div.ui.selection.dropdown {
  background-color: black;
}
a.ui.active.label {
  color: red;
  border-color: red;
  border-width: 2px;
}
div.ui.dropdown .menu > .item:hover {
  background-color: black;
  color: red;
  opacity: 0.7;
}
div.ui.dropdown .menu .selected.item {
  color: red;
  background-color: black;
}
div.visible.menu.transition::-webkit-scrollbar-track {
  background: whitesmoke;
}
div.visible.menu.transition::-webkit-scrollbar-thumb {
  background-color: red;
  height: 17px;
}
/* .content {
  color: blue;
} */
