a {
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  min-height: 8vh;
  width: 100%;
  align-items: center;
  padding-top: 1em;
}
.navlinks {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 100%;
  font-size: 24px;
}
.link {
  letter-spacing: 1px;
  font-weight: bold;
}
.link a {
  color: palegreen;
  opacity: 0.75;
  margin: 0 50px;
}
.link a:hover {
  color: palegreen;
  opacity: 1;
}
.hamburger-toggle {
  cursor: pointer;
  color: white;
  display: none;
  text-align: center;
}

@media screen and (max-width: 850px) {
  body {
    overflow-x: hidden;
  }
  div.hamburger-toggle {
    display: block;
  }
  .navlinks {
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    width: 30%;
    top: 12vh;
    background-color: teal;
    font-size: 32px;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;
    opacity: 0;
  }
  .active {
    transform: translateX(0%);
    opacity:1
  }
}
